
body{

    background-color: whitesmoke;
}

.nav-item
{

    /* padding: 10px; */
    margin: 10px;

   

}

.fontStyle{
    font-size: 20px;
  font-style: normal;

}
.img-fluid, .banner
{
    align-content: center;
    max-height: 200px;
    display: block;
    margin-left: auto;
	margin-right: auto;
}

.welcome-text {
    text-align: center;
    color: rgb(50, 75, 111);
}

 
.banner-flex {
    display: flex;
    min-height: 220px;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    background: url(/img/banner-background.png) repeat-x;
    background-repeat: repeat-x;
    overflow: hidden;
}