.far-image{
    background-image:url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 600px;
    color:white;
    font-size: 50px;
}