.far-image{
    background-image:url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 200px;
    color:white;
    font-size: 50px;
}

.far-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    position:relative; 
    align-content: center;
    justify-content: center;
    height:500px;
    margin-bottom: 50px;
}


.far-content table{
    position: absolute;
    margin:15px;
    top: 10%;
    width: 900px;
    right:20%;
    font-size:25px;
}

.far-time-table {
    height: 50px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.vertical{
    margin:1px;
    color:rgb(218, 212, 212);
    font-weight:bold;
}


.category h3 {
    margin:10px;
}
.category-link {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.category a{
    color:rgb(0, 153, 255);
}

.align-carousel{
    margin:100px;
    margin-left:315px;
}

footer{
    color: white;
  }
  footer a{
    color: #bfffff;
  }
  footer a:hover{
    color: white;
  }
  
  .footer-bottom{
    background: #3d6277;
    padding: 2em;
  }
  .footer-top{
    background: #2d4958;  
  }
  .footer-middle{
     background: #3d6277;
    padding-top: 2em;
    color: white;
  }
  /**Sub Navigation**/
  .subnavigation-container{
    background: #3d6277;
  }
  .subnavigation .nav-link{
    color: white;
    font-weight: bold;
  }
  .subnavigation-container{
    text-align: center;
  }
  .subnavigation-container .navbar{
    display: inline-block;
    margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
  }
  .col-subnav a{
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
  }
  .col-subnav .active{
    border-top:5px solid orange;
   background: white;
    color: black;
  }

  .category-footer {
      color: black;
      font-size:20px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }

  .carousel{
    background: #fec840;   
}

.carousel-aling {
  margin-top:100px;
  margin-bottom:60px;
}


.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */ 
}

.time-table {
  margin-bottom: 50px;
}

