
body{

    background-color: whitesmoke;
}

.nav-item
{

    /* padding: 10px; */
    margin: 10px;

   

}

.fontStyle{
    font-size: 20px;
  font-style: normal;

}
.img-fluid, .banner
{

    /* align-content: center; */
/* background-color: teal; */
/* height: 180px; */

align-content: center;
/* background-color: teal; */
/* min-height: 80%; */
max-height: 200px;
display: block;
  /* max-width: 100%; */
  /* height: auto; */
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

.welcome-text {
    text-align: center;
    color: rgb(50, 75, 111);
}

 
.banner-flex {
    display: flex;
    min-height: 200px;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    background: url(/img/banner-background.png) repeat-x;
    background-repeat: repeat-x;
    overflow: hidden;
}